.word {
	font-size: 17px;
	color: #000080;
	font-weight: bold; 
}

.word_type {
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	background-color: #eeeeee;
	color: #000000;
} 

.bullet {
	font-size: 15px;
	color: #ee7600;
}

.definition {
	font-size: 15px;
}

.example_label, .synonyms_label {
	font-size: 14px;
	font-style: italic;
	color: #505050;
}

.example {
	font-size: 14px;
	color: #4b0082;
}

.synonyms {
	font-size: 14px;
	color: #316a47;
}

.not_found {
	font-size: 15px;
	color: red;
}

