* {
	font-size: 15px;
}

#left_img {
	qproperty-alignment: AlignLeft;
}

#right_img {
	qproperty-alignment: AlignRight;
}

#footer {
	font-size: 14px;
	color: #555555;
	qproperty-alignment: AlignCenter;
}
